configuration {
	modi: "drun,run,ssh,window";
	show-icons: true;
	display-drun: "";
    display-run: "";
    display-window:"";
	display-ssh: "󰣀";
	terminal: "zsh";
	drun-display-format: "{name}";
	window-format: "{w} · {c} · {t}";
}

@theme "~/.config/rofi/classic.rasi"
