@define-color background #6C3344;

* {
    font-family: Ubuntu;
    font-weight: 900;
    font-size: 18px;
}

window#waybar {
    background-color: @background;
}

#workspaces button {
    margin: 0 2px;
    transition: all 0.25s ease;
}

#clock,
#pulseaudio,
#custom-media,
#workspaces {
    padding: 0 7px;
    background-color: transparent;
}

.modules-left > widget:first-child > * {
    margin-left: 0;
}

.modules-right > widget:last-child > * {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}
