* {
    font-family: Ubuntu;
    font-weight: 900;
    font-size: 18px;
}

window#waybar {
    background-color: #6C3344;
}

#workspaces button {
    margin: 0 2px;
    transition: all 0.25s ease;
}

#workspaces button:hover {
    background-color: transparent;
    color: gray;
}

#clock,
#pulseaudio,
#custom-media,
#workspaces {
    padding: 0 7px;
    background-color: transparent;
}
