* {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

window#waybar {
    background-color: #6C3344;
}

#workspaces button {
    margin: 0;
    padding: 0 2px;
}

#workspaces .taskbar-window {
    padding: 0 4px;
    font-weight: normal;
}

#workspaces .taskbar-window.active {
    background-color: rgba(255, 255, 255, 0.25);
}

#clock,
#pulseaudio,
#custom-media,
#workspaces {
    padding: 0 7px;
    background-color: transparent;
}
